{% include "header.html" %}
<body>


<div class="container">

    <div class="jumbotron" style="text-align: center; background:#417690; ">
    <h2>{{animal}}</h2>
    <p>This page shows {{lfiles}} thumbnail images for {{animal}} channel 1.</p>
      <p>Scroll down the page to view all images.</p>
    </div>


    {% for row in valid_sections %}

    <div class="row mt-3">
        <div class="col-md-12">Section Number: {{ row.section_number }} - CZI Source: {{ row.slide_czi_tif.slide.file_name }}</div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
          <img data-src="https://activebrainatlas.ucsd.edu/data/{{ animal }}/thumbnail/{{ '{0}'.format(row.section_number).zfill(3) }}.png"
           src="http://placehold.it/600x350&text=Placeholder" alt="{{ '{0}'.format(row.section_number).zfill(3) }}"/>
        </div>
    </div>

    <br/>

    {% endfor %}


</div>
{% include "footer.html" %}
