[submodule "test-data"]
	path = test-data
	url = git@github.com:ActiveBrainAtlasPipeline/test-data.git
[submodule "ClearMap2"]
	path = ClearMap2
	url = https://github.com/ChristophKirst/ClearMap2.git
