<html>
<head>
    <!--    <link rel="stylesheet" type="text/css" href="/css/myStyle.css">   -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://activebrainatlas.ucsd.edu/static.old/js/jQuery.loadScroll.js"></script>

    <title>Active Atlas Viewer</title>  <!-- title of page in the tab -->
    <style>
        .container {
            margin: 15px auto;
        }

        .container img {
            border-radius: 5px;
            margin: 20px auto;
            width: 640px;
        }
    </style>
    <script>
        $(function () {
            // Custom fadeIn Duration
            $('img').loadScroll(100);
        });
    </script>

</head>
