{% include "header.html" %}
<body>


<div class="container">

    <div class="jumbotron" style="text-align: center; background:#417690; ">
    <h2>{{animal}}</h2>
    <p>This page shows {{lfiles}} thumbnail images for {{animal}} {{layer}} layer.</p>
    <p>These thumbnails have been cropped to only show the area of interest. Sections
        with less than 2 annotations are not shown.
    </p>
    </div>



    {% for row in valid_sections %}

    <div class="row mt-3">
        <div class="col-md-12">
            Section Number: {{ row }}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
          <img src="https://activebrainatlas.ucsd.edu/data/{{ animal }}/www/points/{{layer}}/{{ row }}">
        </div>
    </div>

    <br/>

    {% endfor %}


</div>

{% include "footer.html" %}

